/* alternate colors (blues):
calc: back: #7985ad
neg inset: #686090
pos inset: #9abcbf

button: shad: #6b618e
back: #e0f3ff
color: #1f465d

display color: #eof3ff*/

main {
    display: flex;
    justify-content: center;
}

#notepad {
    box-sizing: border-box;
    margin-left: 2rem;
    width: 15rem;
    height: 25rem;
    padding: 1rem;
    background-color: bisque;
    border-right: 6px solid black;
    border-bottom: 6px solid black;
    overflow: scroll;
}

#notepad p {
    border-bottom: 1px dashed grey;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

#notepad p:first-child {
    font-weight: bold;
}

#notepad button {
    font-size: 1rem;
    height: 1rem;
    width: 1rem;
    background: none;
    box-shadow: none;
    padding: 0rem;
    margin: 0.5rem;
    color: brown;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

#calc {
    text-align: center;
    background: grey;
    width: 18rem;
    height: 25rem;
    padding:1em;
    box-sizing: border-box;
    border-radius: 1em;
    box-shadow: 6px 7px 1px black, inset -6px -7px 3px 0px #686868, inset 2px 3px 1px #bfbfbf;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

button {
    height: 3rem;
    width: 3rem;
    margin: 0.25rem 0.5rem;
    font-size: 1.5em;
    border-radius: 20%;
    border: 0px solid transparent;
    box-shadow: inset -2px -2px 0px 0px black, 2px 1px 7px 0px #616161;
    /* first gives crisp dark button inset, second a little spread */
}

#neg {
    font-size: 1.2em;
}

#display {
    font-size: 2em;
    background-color: black;
    color: white;
/*    display: block;
    width: 210px;*/
    width: 90%;
    height:1.2em;
    padding: 5px;
    margin: 0.25em;
    border-radius: 10px;
    text-align: right;
    overflow:scroll;
    align-self: center;
}

.row {
    display: flex;
    width: 100%;
}
