* {
    box-sizing: border-box;
}

body {
    background-color: #323232;
    font-family: sans-serif;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    grid-template-areas:
        "header header header"
        "player board score"
    ;
}

@media (max-width: 800px) {
    body {
        grid-template-columns: 250px 1fr;
        grid-template-areas: 
            "header header"
            "board score"
            "player ."
        ;
    }
    #player-info {
        text-align: center;
        margin: auto;
    }
    #player-info form {
        position: fixed;
        text-align: center;
    }
}

table {
    border-spacing: 0px;
    background: #323232;
    color: #d6d6d6;
    border: 5px solid black;
    margin: auto;
}

#header-info {
    grid-area: header;
    color: #d6d6d6;
    height: 8rem;
}

h1, h2 {
    text-align: center;
}

h1 {
    margin-bottom: 0px;
}

h2 {
    font-size: 20px;
    margin: 0.5em;
}

td {
    width: 70px;
    height: 70px;
    display: inline-block;
    border: 1px solid white;
    margin: 0px;
    text-align: center;
    font-size: 65px;
    font-family: sans-serif;
    line-height: 70px;
}

td:first-of-type {
    border-left: 0px;
}

tr:first-of-type td {
    border-top: 0px;
}

tr:last-of-type td {
    border-bottom: 0px;
}

td:last-of-type {
    border-right: 0px;
}

#board {
    grid-area: board;
    text-align: center;
}

#player-info {
    grid-area: player;
    font-size: 14px;
    justify-self: end;
}

#player-info, #placeholder-right {
    background: transparent;
    padding: 0.5rem;
    height: 227px;
    font-size: small;
}

#player-info form {
    position: relative;
    right: 0px;
    text-align: right;
}

#scoreboard {
    grid-area: score;
    background: black;
    border: 2px solid gray;
    margin-left: 1rem;
    color: #d6d6d6;
    font-family: Monospace;
    font-size: 110%;
    padding: 0.5rem;
}

#winner {
    text-align: center;
    color: #9d471d;
    margin-bottom: 0.5rem;
    animation: pulse 1.5s linear;
}

@keyframes pulse {
    0% {
        font-size: 30%;
    }
    50% {
        font-size: 150%;
    }
    100% {
        font-size: 100%;
    }
}

input {
    margin-top: 5px;
    width: 100%;
}

button {
    border: none;
    padding: 0.5rem;
    background-color: #9d471d;
    color: white;
}

#clear-btn {
    width: 100%;
}

button:hover, input[type="submit"]:hover {
    background-color: #9d471d;
    background-color: black;
}

input[type="submit"] {
    border: none;
    padding: 0.25rem;
    background-color: #9d471d;
    color: white;
}
